
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import "font-awesome";
.hover-white:hover {
  color: #fff;
}
.row { 
  --bs-gutter-x: 0;
}
.color-white {
  color: #fff !important;
}
.plain-text {
  font: normal normal normal 16px/24px Lato;
  letter-spacing: 0px;
  opacity: 1;
}
.plain-text-14 {
  font: normal normal normal 14px/24px Lato;
  letter-spacing: 0px;
  opacity: 1;
}
.bold {
  font-weight: bold;
}
.header_color {
  color: #77203B;
}
.red-light {
  color: #B22747 !important;
}
.red-light-back {
  opacity: 1 !important;
}
.underline {
  text-decoration: underline;
  color: #77203B;
}
.head_5 {
  font: normal normal bold 30px/34px Gazpacho;
  letter-spacing: 0px;
  color: #77203B;
  opacity: 1;
}
#snow {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  z-index: 9999;
  background: linear-gradient(to bottom, #77203B, #B22747);
}

.header {
  background: linear-gradient(to bottom, #77203B, #B22747);
  position: relative;
  /* z-index: 999; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-info {
  padding-left: 100px;
}
.header-after-img {
  /* content: url('./assets/card-header.jpg'); */
  position: absolute;
  border-radius: 23px;
  bottom: -120px;
  /* width: 372px; */
  height: 225px;
  left: 200px;
  transform: rotate(353deg) skew(2deg) translate(-1px,0px);
} 

  img {
    margin: 0;
    border: 0;
  }
  
  h1 {
    font-weight: 300;
    font-size: 3rem;
    color: white;
    margin: 0;
  
}
.navbar {
  color: #fff;
  width: 100%;
  padding-top: 22px;
  padding-right: 100px;
  padding-left: 100px;
}
.navbar-brand {
  font: normal normal normal 16px/19px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.logo {
  width: 144px;
  height: 50px;
}


canvas#snow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -999;
} 
.nav-tel {
  color: #fff;
}
.nav-tel::before {
  content: url('./assets/icon-tlf.svg');
  margin-right: 10px;
}

.nav-btn {
    width: 166px;
    height: 45px;
    background: #91C860 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/18px Lato;
    letter-spacing: 0px;
    color: #3B5524;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-btn:hover {
  color: #000;
}
.header_h1 {
    text-align: center;
    font: normal normal bold 75px/75px Gazpacho;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.header_h6 {
    height: 65px;
    text-align: center;
    font: normal normal normal 20px/25px Mandali;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.cards {
  background: #fff;
  padding: 50px;
  text-align: center;
}
.cards img {
  width: 166px;
  height: 107px;
  object-fit: contain;
}
.list-info li {
  line-height: 40px;
}
.m-53 {
  margin-top: 53px;
}
.p-28 {
  padding-bottom: 28px;
}
.m-151 {
  margin-top: 151px;
}
.products-box {
  background: #F7E9EC 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  position: relative;
}
.products-box::after {
  content: "\f0d7";
  /* content: url('./assets/arrow-small.png'); */
  background: #fff;
  padding: 30px 30px;
  border-radius: 50%;
}
.m-95 {
  padding-top: 95px;
  margin-bottom: 25px;
}
.w-578 {
  width: 578px;
  margin: 0 auto 121px;
}
.sweets  {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.sweet-1 {
  height: 215px;
}
.sweet-2 {
  height: 182px;
}
.sweet-3 {
  height: 147px;
}
.sweet-4 {
  height: 204px;
}
.sweet-5 {
  height: 240px;
  margin-bottom: 65px;
}
.w-373 {
  width: 373px;
}
.w-322 {
  width: 322px;
}
.w-387 {
  width: 387px;
}
.w-25 {
  width: 25px !important;
  height: 25px;
  margin-top: 74px;
  margin-bottom: 74px;
}
.carousel-btn {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #B22747 0% 0% no-repeat padding-box;
  opacity: 0.2;
}

.p-89 {
  margin-bottom: 89px;
}
.circle-text {
  width: 400px;
  text-align: center;
  font: italic normal 300 22px/35px Lato;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding: 40px 70px;
  border: 1px dashed #000;
  border-radius: 50%;
  position: relative;
}
.partners .container {
  background: url('./assets/Illu-map.png') right top no-repeat;
}
.partners {
  margin-bottom: 160px;
}
.m-20 {
  margin-bottom: 20px;
}
.mt-30 {
  margin-top: 40px !important;
}
.head_6 { 
  font: normal normal bold 20px/24px Lato;
  letter-spacing: 0px;
  color: #77203B;
}
.m-100 {
  margin-bottom: 100px !important;
}
.mt-100 {
  margin-top: 50px !important;
}
.btn-big {
  text-align: center;
  font: normal normal bold 18px/35px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
  /* width: 439px; */
  padding: 0 30px 0 30px;
  height: 50px;
  background: #77203B 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  border: none;
  margin-top: 23px;
}
.partners::after {
  content: '\f175';
  /* content: url('./assets/arrow-down.png'); */
  position: absolute;
  left: 50%;
}
.circle-text > p:first-child:after {
  content: '\f005';
}
.circle-text-auth {
  text-align: center;
  font: normal normal bold 14px/31px Lato;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.circle-text::after {
  content: '';
  border: 1px dashed #91C961;
  opacity: 1;
  bottom: -56px;
  padding: 50px 50px;
  border-radius: 50%;
  right: 43px !important;
  right: 10p;
  position: absolute;
}
.slider { 
  text-align: center;
  margin-bottom: 115px;;
}
.w-578 {
  width: 578px;
}
.h-103-37 {
  padding-top: 103px;
  padding-bottom: 37px;
}
.w-780 {
  width: 780px;
}
.source {
  text-align: center;
}
.source .container {
  /* width: 1196px; */
  /* height: 803px; */
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding-bottom: 100px;
}
.wrapper-icon {
  width: 212px;
  height: 150px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.wrapper-icon img {
  margin-top: 30px;
  width: 50px;
}
.y-50 {
  margin-bottom: 50px;
}
.source .container .row {
  padding: 50px;
}

@media (max-width: 575.98px) {
  .woman {
    width: 50%;
  }
  .header_h1 {
    font: normal normal bold 40px/40px Gazpacho;
 }
 .cards img {
   margin-bottom: 30px;
 }
  .mb-3 {
    margin-bottom: 0 !important;
  }
  .header-info {
    padding-left: 0;
  }
  .header-after-img {
    /* width: 90%;
    left: 0; */
    display: none;
  }
  .w-578, 
  .w-387,
  .w-780,
  .w-373,
  .w-322 {
    width: 100%;
  }
.nav-item {
  flex-direction: column !important;
}
.partners .row > * {
  text-align: center;
  margin-bottom: 50px;
}
.btn-big {
  height: auto;
    line-height: inherit;
}
.circle-text {
  font: italic normal 300 17px/17px Lato;
  padding: 40px 70px;
}
.source-row > * {
  margin-bottom: 20px;
}
.source .row {
  padding-bottom: 0 !important;
}
.source .row:last-child {
  padding-top: 0 !important;
}

 }

@media (max-width: 769px) { 
  .woman {
    width: 50%;
  }
  .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .cards img {
    width: 100%;
    height: 100%;
  }
  .header-after-img {
    /* width: 90%;
    left: 0; */
    display: none;
   
  }
 }

@media (max-width:1024px) {
  .woman {
    width: 100%;
    
  }
  .header-after-img {
    bottom: -100px;
  }
 }

@media (max-width: 1199.98px) { 
  .header-after-img {
    bottom: -80px !important; 
  }
 }


/* @media (max-width: 1399.98px) { 
  .header-after-img {
    bottom: -90px;
  }
} */
@media (max-width: 1440px) { 
  .header-after-img {
    bottom: 20px;
  }
  .header_h6 {
    font-size: 29px;
  }
}
@media (max-width: 2000px) {
  .header_6 {
    font-size: 50px !important;
  }
}