
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import "font-awesome";
body {
  font-family: Lato;
  letter-spacing: 0px;
  opacity: 1;
}
.hover-white:hover {
  color: #fff;
}
.row { 
  --bs-gutter-x: 0;
}
.color-white {
  color: #fff !important;
}
.plain-text {
  font: normal normal normal 16px/24px Lato;
  letter-spacing: 0px;
  opacity: 1;
}
.plain-text-14 {
  font: normal normal normal 14px/24px Lato;
  letter-spacing: 0px;
  opacity: 1;
}
.bold {
  font-weight: bold;
}
.header_color {
  color: #77203B;
}
.red-light {
  color: #B22747 !important;
}
.red-light-back {
  opacity: 1 !important;
}
.underline {
  text-decoration: underline;
  color: #77203B;
}
.head_5 {
  font: normal normal bold 30px/34px Gazpacho;
  letter-spacing: 0px;
  color: #77203B;
  opacity: 1;
}
canvas#snow {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  z-index: 999;
  background: linear-gradient(to bottom, #77203B, #B22747);
}

.header {
  /* background: linear-gradient(to bottom, #77203B, #B22747); */
  position: relative;
  /* z-index: 998; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-info {
  padding-left: 100px;
}
.header-after-img {
  position: absolute;
  border-radius: 23px;
  bottom: -120px;
  height: 225px;
  left: 200px;
  /* transform: rotate(353deg) skew(2deg) translate(-1px,0px); */
} 

  img {
    margin: 0;
    border: 0;
  }
  
  h1 {
    font-weight: 300;
    font-size: 3rem;
    color: white;
    margin: 0;
  
}
.navbar {
  color: #fff;
  width: 100%;
  padding-top: 22px;
  padding-right: 100px;
  padding-left: 100px;
}
.navbar-brand {
  font: normal normal normal 16px/19px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.logo {
  width: 144px;
  height: 50px;
}


canvas#snow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -999;
} 
.nav-tel {
  color: #fff;
}
.nav-tel::before {
  content: url('./assets/icon-tlf.svg');
  margin-right: 10px;
}
/* .phone::before {
  content: url('./assets/tel-bg.png');
  margin-right: 10px;
  position: absolute;
  width: 45x;
} */
.nav-btn {
    width: 166px;
    height: 45px;
    background: #91C860 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/18px Lato;
    letter-spacing: 0px;
    color: #3B5524;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-btn:hover {
  color: #000;
}
.header_h1 {
    text-align: center;
    font: normal normal bold 75px/75px Gazpacho;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.header_h6 {
    height: 65px;
    text-align: center;
    font: normal normal normal 20px/25px Mandali;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.cards {
  background: #fff;
  padding: 50px;
  text-align: center;
}
.cards img {
  width: 166px;
  height: 107px;
  object-fit: contain;
}
.list-info li {
  line-height: 40px;
}
.m-53 {
  margin-top: 53px;
}
.p-28 {
  padding-bottom: 28px;
}
.m-151 {
  margin-top: 151px;
}
.products-box {
  background: #F7E9EC 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  position: relative;
}
.products-box::after,
.source::after {
  content: "\f0d7";
  /* content: url('./assets/arrow-small.png'); */
  background: #fff;
  padding: 30px 30px;
  border-radius: 50%;
}
.show-container::after {
  content: "\f0d7";
  /* content: url('./assets/arrow-small.png'); */
  background: #fff;
  padding: 30px 30px;
  border-radius: 50%; 

}


.m-95 {
  padding-top: 95px;
  margin-bottom: 25px;
}
.w-578 {
  width: 578px;
  margin: 0 auto 121px;
}
.sweets  {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.sweet-1 {
  height: 215px;
}
.sweet-2 {
  height: 182px;
}
.sweet-3 {
  height: 147px;
}
.sweet-4 {
  height: 204px;
}
.sweet-5 {
  height: 240px;
  margin-bottom: 65px;
}
.w-373 {
  width: 373px;
}
.w-322 {
  width: 322px;
}
.w-387 {
  width: 387px;
}
.w-25 {
  width: 25px !important;
  height: 25px;
  margin-top: 74px;
  margin-bottom: 74px;
}
.carousel-btn {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #B22747 0% 0% no-repeat padding-box;
  opacity: 0.2;
}

.p-89 {
  margin-bottom: 89px;
}
.circle-text {
  width: 400px;
  text-align: center;
  font: italic normal 300 22px/35px Lato;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding: 40px 70px;
  border: 1px dashed #000;
  border-radius: 50%;
  position: relative;
}
.partners .container {
  background: url('./assets/Illu-map.png') right top no-repeat;
}
.partners {
  margin-bottom: 160px;
}
.m-20 {
  margin-bottom: 20px;
}
.mt-30 {
  margin-top: 40px !important;
}
.head_6 { 
  font: normal normal bold 20px/24px Lato;
  letter-spacing: 0px;
  color: #77203B;
}
.m-100 {
  margin-bottom: 100px !important;
}
.mt-100 {
  margin-top: 50px !important;
}
.btn-big {
  text-align: center;
  font: normal normal bold 18px/35px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
  /* width: 439px; */
  padding: 0 30px 0 30px;
  height: 50px;
  background: #77203B 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  border: none;
  margin-top: 23px;
}
.partners::after {
  content: '\f175';
  /* content: url('./assets/arrow-down.png'); */
  position: absolute;
  left: 50%;
}
.circle-text > p:first-child:after {
  content: '\f005';
}
.circle-text-auth {
  text-align: center;
  font: normal normal bold 14px/31px Lato;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.circle-text::after {
  content: '';
  border: 1px dashed #91C961;
  opacity: 1;
  bottom: -56px;
  padding: 50px 50px;
  border-radius: 50%;
  right: 43px !important;
  right: 10p;
  position: absolute;
}
.slider { 
  text-align: center;
  margin-bottom: 115px;;
}
.w-578 {
  width: 578px;
}
.h-103-37 {
  padding-top: 103px;
  padding-bottom: 37px;
}
.w-780 {
  width: 780px;
}
.source {
  text-align: center;
}
.source .container {
  /* width: 1196px; */
  /* height: 803px; */
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding-bottom: 100px;
}
.wrapper-icon {
  width: 212px;
  height: 150px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.wrapper-icon img {
  margin-top: 30px;
  width: 50px;
}
.y-50 {
  margin-bottom: 50px;
}
.source .container .row {
  padding: 50px;
}
.contact {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 119px;
}
.phone {
  text-align: left;
}
.phone div{
  margin-left: 20px;
}
.phone p {
  font: normal normal bold 20px/22px Lato;
  letter-spacing: 0px;
  color: #77203B;
  opacity: 1;
  margin-bottom: 0 !important;
}
.phone small {
  font: normal normal normal 15px/22px Lato;
  letter-spacing: 0px;
  color: #9B9B9B;
  opacity: 1;
}
.steps .row p {
  width: 246px;
  margin: 30px;
}

.nums {
  position: absolute;
  width: 33px;
  height: 31px;
  text-align: center;
  font: normal normal bold 22px/26px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: #77203B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100px;
}
.relative {
  position: relative;
}
.mt-124 {
  margin-top: 124px;
}
.show-block {
  background: #F7E9EC 0% 0% no-repeat padding-box;
  margin-top: 150px;
}
.show-container img {
  margin-top: -83px !important;
  margin-bottom: 48px !important;
}
.list .fa-check {
  margin-right: 10px;
}
.list ul {
  line-height: 2;
}
.text-with-circle {
  position: relative;
}
.text-with-circle::before {
  content: '';
  width: 121px;
  height: 122px;
  border: 1px dashed #91C961;
  opacity: 1;
  position: absolute;
  top: -100px;
  left: -50px;
  border-radius: 50%;
}
.list-text {
  width: 782px;
  margin: 34px auto;
}
.accordion {
  margin: auto;
  width: 784px;
}
.accordion-button:not(.collapsed) {
  background: none;
  color: #000;
}
.mt-150 {
  margin-top: 150px;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.form-contact {
  margin: 133px auto 100px;
  width: 578px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 40px #00000029;
  border-radius: 15px;
  opacity: 1;
}
.form-control {
  width: 100% !important;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #E3E3E3;
  border-radius: 5px;
  opacity: 1;
}
footer {
  text-align: center;
  background: var(--unnamed-color-333333) 0% 0% no-repeat padding-box;
  background: #333333 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #fff;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.w-503 {
  width: 503px;
}
.mb-86 {
  margin-bottom: 86px;
}
footer h5 {
  font: normal normal bold 30px/34px Gazpacho;
  margin-bottom: 42px;
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
  padding-top: 150px;
}
footer .row { 
  --bs-gutter-x: 40px;
}
.pb-92 {
  padding-bottom: 92px;
}
.white-important {
  color: #fff !important;
}

@media (max-width: 575.98px) {
  /* .woman {
    width: 50%;
  } */
  .header_h1 {
    font: normal normal bold 40px/40px Gazpacho;
 }

 .cards img {
   margin-bottom: 30px;
 }
  .mb-3 {
    margin-bottom: 0 !important;
  }
  .header-info {
    padding-left: 0;
  }
  .header-after-img {
    /* width: 90%;
    left: 0; */
    display: none;
  }
  .w-578, 
  .w-387,
  .w-780,
  .w-373,
  .w-322,
  .w-503 {
    width: 100%;
  }
.nav-item {
  flex-direction: column !important;
}
.partners .row > * {
  text-align: center;
  margin-bottom: 50px;
}
.btn-big {
  /* width: 100%; */
  padding: 10px;
  height: auto;
  line-height: inherit;
}
.circle-text {
  font: italic normal 300 17px/17px Lato;
  padding: 40px 70px;
}
.source-row > * {
  margin-bottom: 20px;
}
.source .row {
  padding-bottom: 0 !important;
}
.source .row:last-child {
  padding-top: 0 !important;
}
.btn-big {
  padding: 10p;
  margin: 10px;
}
.show-container img {
  width: 100%;
}
.accordion {
  width: 100%;
}
.list-text {
  width: 100%;
}
.mb-50 {
  margin-bottom: 50px;
}
.form-contact{
  width: 100%;
}
.phone small {
  font-size: 12px;
}
.center-text {
  text-align: center;
}
 }

@media (max-width: 769px) { 
  /* .woman {
    width: 50%;
  } */
  .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .cards img {
    width: 100%;
    height: 100%;
  }
  .header-after-img {
    /* width: 90%;
    left: 0; */
    display: none;
   
  }
  .show-container img {
    width: 100%;
  }
  .w-578, 
  .w-387,
  .w-780,
  .w-373,
  .w-322,
  .w-503 {
    width: 100%;
  }
  .accordion {
    width: 100%;
  }
  .list-text {
    width: 100%;
  }
 }

@media (max-width:1024px) {
  .woman {
    width: 100%;
  }
  .header-after-img {
    bottom: -100px;
  }
 }

@media (max-width: 1199.98px) { 
  .header-after-img {
    bottom: -80px !important; 
  }
  .show-container img {
    width: 100%;
  }
 }


/* @media (max-width: 1399.98px) { 
  .header-after-img {
    bottom: -90px;
  }
} */
@media (min-width: 1440px) { 
  .header-after-img {
    bottom: -58px
  }
  .header_h6 {
    font: normal normal normal 35px/40px Mandali;  }
  
  
}
@media (min-width: 2000px) {
  .header_6 {
    font-size: 50px !important;
  }
  .header-info {
   align-items: center;
  }
  .header_h6 {
    font: normal normal normal 54px/64px Mandali;
  }
  .header_h1 {
    font: normal normal bold 103px/116px Gazpacho;
  }
  .header-after-img {
    bottom: -114px;
    height: 344px;
    left: 450px;
  }
}